﻿@model NumberDTO
@{
    ViewData["Title"] = " Добавление номера";
}

<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li><a asp-action="Index" asp-controller="Dashboard" asp-area="Administration">Админ</a></li>
    <li><a asp-action="Index" asp-controller="Number" asp-area="Administration">Список номеров</a></li>
    <li class="active">@ViewData["Title"]</li>
</ol>

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="col col-md-4">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input id="Date" name="Date" value="@DateTime.Now" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sum" class="control-label"></label>
            <input asp-for="Sum" class="form-control" />
            <span asp-validation-for="Sum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="control-label"></label>
            <input asp-for="Balance" class="form-control" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</form>

