﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Администрирование";
}
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home" asp-area="">Главная</a></li>
    <li class="active">@ViewData["Title"]</li>
</ol>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a asp-area="Administration" asp-controller="Number" asp-action="Index" class="dh-button">
                    <span class="icon">
                        <i class="glyphicon glyphicon-phone"></i>
                    </span>
                    <div class="text">
                        <span class="title">Мои номера</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a asp-area="Administration" asp-controller="Seller" asp-action="Index" class="dh-button">
                    <span class="icon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <div class="text">
                        <span class="title">Продавец</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a asp-area="Administration" asp-controller="Shop" asp-action="Index" class="dh-button">
                    <span class="icon">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </span>
                    <div class="text">
                        <span class="title">Магазин</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>