﻿@{
    ViewData["Title"] = "Главная страница";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Меню</h3>
    </div>
    <div class="panel-body">
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
            <span class="icon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <div class="text">
                <span class="title">Admin</span>
            </div>
        </a> 
        <a asp-area="" asp-controller="Client" asp-action="Index">
            <span class="icon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <div class="text">
                <span class="title">Записи по клиентам</span>
            </div>
        </a>
    </div>
</div>
