﻿@model Client

<h2>@ViewData["Title"]</h2>



<form asp-action="Edit">
    <div class="col col-md-4">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group">
            <label class="control-label">Мой номер</label>
            <select id="MyNumberId" name="MyNumberId" class="form-control">
                @foreach (var item in ViewBag.Numbers as IEnumerable
          <Tuple<int, string>> ?? new List<Tuple<int, string>>())
                {
                    if (item.Item1 == Model.MyNumberId)
                    {
                        <option value="@item.Item1" selected="selected">@item.Item2</option>
                    }
                    else
                    {
                        <option value="@item.Item1">@item.Item2</option>
                    }
                }
            </select>
        </div>
        <div class="input-group">
            <label class="control-label">Магазин</label>
            <select id="ShopId" name="ShopId" class="form-control">
                @foreach (var item in ViewBag.Shops as IEnumerable
            <Shop>
                ?? new List<Shop>
                    ())
                {
                    if (item.Id == Model.ShopId)
                    {
                        <option value="@item.Id" selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="input-group">
            <label class="control-label">Продавец</label>
            <select id="SellerId" name="SellerId" class="form-control">
                @foreach (var item in ViewBag.Sellers as IEnumerable<Seller> ?? new List<Seller>())
                {
                    if (item.Id == Model.SellerId)
                    {
                        <option value="@item.Id" selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="control-label"></label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input class="form-control flt-datetimepicker" id="Date" name="Date" value="@(Model.Date)" onclick="$(this).trigger('open.xdsoft')" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sum" class="control-label"></label>
            <input asp-for="Sum" class="form-control" />
            <span asp-validation-for="Sum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profit" class="control-label"></label>
            <input asp-for="Profit" class="form-control" />
            <span asp-validation-for="Profit" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsDelivered" class="control-label"></label>
            <input asp-for="IsDelivered" class="form-check-input" />
            <span asp-validation-for="IsDelivered" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsChecked" class="control-label"></label>
            <input asp-for="IsChecked" class="form-check-input" />
            <span asp-validation-for="IsChecked" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</form>

@section scripts {
    <script src="@Url.Content("~/js/datetimepicker.js")"></script>
    <script type="text/javascript">
        $('#Date').change(function () {
            reloadData();
        });
         function reloadData() {}
    </script>
}