﻿@model IEnumerable<ClientDTO>
@{
    ViewData["Title"] = "Записи по клиентам";
}

<h2>@ViewData["Title"]</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <authorize action="Create">
            <a asp-action="Create" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-plus-sign"></i><span class="text">Добавить</span>
            </a>
        </authorize>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Дата c</span>
                                    <input type="text" class="form-control flt-datetimepicker" id="fltDateStart" name="DateStart" value="@(ViewBag.DateStart)" onclick="$(this).trigger('open.xdsoft');" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Дата по</span>
                                    <input type="text" class="form-control flt-datetimepicker" id="fltDateEnd" name="DateEnd" value="@(ViewBag.DateEnd)" onclick="$(this).trigger('open.xdsoft');" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Мой номер</span>
                                    <select id="fltNumber" name="numberId" class="form-control">
                                        <option value="0">Все</option>
                                        @foreach (var item in ViewBag.Numbers as IEnumerable<Tuple<int, string>> ?? new List<Tuple<int, string>>())
                                        {
                                            if ((item.Item1 == (int)ViewBag.NumberId))
                                            {
                                                <option selected="selected" value="@item.Item1">@item.Item2</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Item1">@item.Item2</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th> Номер </th>
            <th> Магазин </th>
            <th> Продавец</th>
            <th> Номер клиента</th>
            <th> Дата</th>
            <th> Сумма</th>
            <th> Прибыль</th>
            <th> Доставлено</th>
            <th> Проверено</th>
            <th> Изменить</th>
            <th> Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MyNumber</td>
                <td>@item.ShopName</td>
                <td>@item.SellerName</td>
                <td>@item.Number</td>
                <td>@item.Date</td>
                <td>@item.Sum</td>
                <td>@item.Profit</td>
                <td>
                    @if (item.IsDelivered)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove"></span>

                    }
                </td>
                <td>
                    @if (item.IsChecked)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove"></span>

                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@(item.Id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@(item.Id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="@Url.Content("~/js/datetimepicker.js")"></script>

    <script type="text/javascript">


        $('#fltDateStart').trigger('open.xdsoft');
        $('#fltDateStart').trigger('change');


        $('#fltDateEnd').trigger('open.xdsoft');
        $('#fltDateEnd').trigger('change');


        $('#fltNumber').change(function () {
            reloadData();
        });

        function buildQueryString() {
            var ds = $('#fltDateStart').val();
            var de = $('#fltDateEnd').val();
            var s = $('#fltNumber').val();
            return ['dateStart='+ ds,
                'dateEnd=' + de,
                'numberId=' + s].join('&');
        }

        function reloadData() {
             window.location = '@Url.Action("Index")' + '?' + buildQueryString();
        }
    </script>
}