﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
    src: url('../lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'), url('../lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg') format('svg');
}


html, body {
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
    padding: 10px 0 0 0;
}

#wrap > .container {
    padding-top: 60px;
}

.dh-button {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    width: 320px;
}

    .dh-button:active,
    .dh-button:hover,
    .dh-button:visited {
        text-decoration: none;
    }

    .dh-button .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }



    .dh-button .text {
        display: inline-block;
        text-align: left;
        white-space: normal;
        vertical-align: middle;
        font-size: 50px;
    }

        .dh-button .text .title {
            font-size: 20px;
            display: block;
            margin: 8px 0 0 0;
            max-width: 600px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 6px 0;
        }

        .dh-button .text .info {
            font-size: 19px;
            display: block;
            margin: 8px 0 3px 3px;
            color: ActiveCaption;
            max-width: 600px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    .dh-button .icon i {
        font-size: 59px;
    }

        .dh-button .icon i.material-icons {
            font-size: 63px;
        }

.report-frame{
    width:100%;
    height:600px;
    border:0 none;
}