﻿@model SellerDTO
@{
    ViewData["Title"] = "Добавление продавца";
}



<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li><a asp-action="Index" asp-controller="Dashboard" asp-area="Administration">Админ</a></li>
    <li><a asp-action="Index" asp-controller="Seller" asp-area="Administration">Список продавцов</a></li>
    <li class="active">@ViewData["Title"]</li>
</ol>
<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="col col-md-4">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</form>