﻿@model IEnumerable<SellerDTO>
@{
    ViewData["Title"] = "Список продавцов";
}


<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home" asp-area="">Главная</a></li>
    <li><a asp-action="Index" asp-controller="Dashboard" asp-area="Administration">Админ</a></li>
    <li class="active">@ViewData["Title"]</li>
</ol>

<h2>@ViewData["Title"]</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <authorize action="Create">
            <a asp-action="Create" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-plus-sign"></i><span class="text">Добавить</span>
            </a>
        </authorize>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th> Продавец </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td colspan="10">
                    <a asp-action="Edit" asp-route-id="@(item.Id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td colspan="10">
                    <a asp-action="Delete" asp-route-id="@(item.Id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
